.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 12px;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 360px;
}

.btn {
  max-width: 80px;
  align-self: flex-end;
}
